/node_modules
/public/hot
/public
/resources/lang/*
/public/storage
/storage/*.key
/vendor
/ressouces/lang/fr_FR/*
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
